@import url(https://use.typekit.net/pmr0rci.css);
@import url(https://use.typekit.net/pmr0rci.css);
* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: "bodoni-moda-variable", sans-serif !important;
}

h4,
h5,
h6 {
  font-family: "brandon-grotesque", sans-serif !important;
  letter-spacing: 2.7px !important;
}
