@import url("https://use.typekit.net/pmr0rci.css");
@import url("https://use.typekit.net/pmr0rci.css");

$bodoni-moda: "bodoni-moda-variable", sans-serif;
$brandon-grotesque: "brandon-grotesque", sans-serif;

// brand colors
$primary-color-1: #1D2344;
$primary-color-2: #F04A4A;
$primary-contrasting-color: #ffffff;
$secondary-color-1: #f4f4f4;
$secondary-color-2: #978B82;
$secondary-contrasting-color: #101820;

//brand typefaces

// Brandon Grotesque Thin
// font-family: "brandon-grotesque", sans-serif;
// font-weight: 100;
// font-style: normal;

// Brandon Grotesque Thin Italic
// font-family: "brandon-grotesque", sans-serif;
// font-weight: 100;
// font-style: italic;

// Brandon Grotesque Light
// font-family: "brandon-grotesque", sans-serif;
// font-weight: 300;
// font-style: normal;

// Brandon Grotesque Light Italic
// font-family: "brandon-grotesque", sans-serif;
// font-weight: 300;
// font-style: italic;

// Brandon Grotesque Regular
// font-family: "brandon-grotesque", sans-serif;
// font-weight: 400;
// font-style: normal;

// Brandon Grotesque Regular Italic
// font-family: "brandon-grotesque", sans-serif;
// font-weight: 400;
// font-style: italic;

// Brandon Grotesque Medium
// font-family: "brandon-grotesque", sans-serif;
// font-weight: 500;
// font-style: normal;

// Brandon Grotesque Medium Italic
// font-family: "brandon-grotesque", sans-serif;
// font-weight: 500;
// font-style: italic;

// Brandon Grotesque Bold
// font-family: "brandon-grotesque", sans-serif;
// font-weight: 700;
// font-style: normal;

// Brandon Grotesque Bold Italic
// font-family: "brandon-grotesque", sans-serif;
// font-weight: 700;
// font-style: italic;

// Brandon Grotesque Black
// font-family: "brandon-grotesque", sans-serif;
// font-weight: 900;
// font-style: normal;

// Brandon Grotesque Black Italic
// font-family: "brandon-grotesque", sans-serif;
// font-weight: 900;
// font-style: italic;

// Bodoni Moda Variable Regular
// font-family: "bodoni-moda-variable", sans-serif;
// font-variation-settings: "opsz" 11, "wght" 400;

// Bodoni Moda Variable Italic
// font-family: "bodoni-moda-variable", sans-serif;
// font-variation-settings: "opsz" 11, "wght" 400;