@import 'variables';

// @font-face {
//     font-family: "NAME OF FONT";
//     src: url("NAME-OF-FONT-FILE.woff2") format("woff2"),
//     url("NAME-OF-FONT-FILE.woff") format("woff");
//     }

//     Add Classes here with comma { font-family: "NAME OF FONT"!important; }

* {
    box-sizing: border-box;
}

.h1,
.h2,
.h3 {
    font-family: $bodoni-moda !important;
    font-variation-settings: 'wght' 400, 'opsz' 11 !important;
}

.h4,
.h5,
.h6 {
    font-family: $brandon-grotesque !important;
    font-weight: 400 !important;
    letter-spacing: 2.7px !important;
}

.header__primary-nav-item a, .nav-menu-text {
  font-family: "bodoni-moda-variable", sans-serif !important;
  font-variation-settings: "wght" 530, "opsz" 8 !important;
  font-size: 12.5px;
  letter-spacing: 3.9px !important;
  line-height: 1.7;
  box-shadow: 0 0 5px #00000005 inset;
  }

  // featured collections section "ADD TO CART" button 

  .product-card__quick-add-button {
    display: flex;
    align-items: center;
  }

  .product-card__quick-add-button svg.icon {
    margin-left: 10px;
  }

  .img-title-scroll {
    font-size: 35px;
    font-variation-settings: "wght" 600, "opsz" 8 !important;
    // box-shadow: 9px 10px 101px #00000012 inset;
  }

  .media-grid-sub-title {
    font-size: 12px !important; 
  }

  .multi-media-txt-title {
    font-size: 40px !important;
  }

  .img-txt-scroll p{
    font-size: 14px;
    font-weight: 40 !important;
  }

  .content-over-media:before {
    content: "";
    background: #1d23444a;;
    border-radius: inherit;
    z-index: 1;
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.media-grid-sub-title:first-child {
  font-size: 16px;
}

.img-with-txt-block-container {
  background: #1d2344a1 !important;
}

// a {
//     font-family: $brandon-grotesque !important;
//     letter-spacing: 2.5px !important;
// }

// p,
// span,
// li {
//     font-family: $brandon-grotesque !important;
//     letter-spacing: 2.7px !important;
// }

// .header__menu-disclosure summary {
//     font-family: $brandon-grotesque !important;
//     letter-spacing: 2.7px !important;
// }

// Different menu text color

// .header,
// .header__dropdown-menu {
//     background: #1d23444a;
// }

// .header:hover,
// .header__dropdown-menu:hover {
//     background: #1d23444a;
// }