@import 'variables';

// @font-face {
//     font-family: "NAME OF FONT";
//     src: url("NAME-OF-FONT-FILE.woff2") format("woff2"),
//     url("NAME-OF-FONT-FILE.woff") format("woff");
//     }

//     Add Classes here with comma { font-family: "NAME OF FONT"!important; }

* {
    box-sizing: border-box;
}

h1,
h2,
h3 {
    font-family: $bodoni-moda !important;
}

h4,
h5,
h6 {
    font-family: $brandon-grotesque !important;
    letter-spacing: 2.7px !important;
}

a {
    font-family: $brandon-grotesque !important;
    letter-spacing: 2.5px !important;
}

p,
span,
li {
    font-family: $brandon-grotesque !important;
    letter-spacing: 2.7px !important;
}

.header__menu-disclosure summary {
    font-family: $brandon-grotesque !important;
    letter-spacing: 2.7px !important;
}

.header,
.header__dropdown-menu {
    background: #1d23444a;
}

.header:hover,
.header__dropdown-menu:hover {
    background: #1d23444a;
}